<div class="palm-row #{classFormatted} removable" x-mojo-gesture='Mojo.Gesture.HorizontalDrag'>
	<div class="row-fader"></div>
    <!-- priority -->
    <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
        <div class="title">
            <div id="completed-#{idFormatted}" name="completed" class="completed icon left" disabled="true">
				<div class="checkbox #{completed}"></div>
			</div>
            <!-- either "tasks-icon info" or "due-date" -->
            <div class="#{infoClassFormatted} right task-details-link" x-mojo-tap-highlight="momentary">
                #{dueDateFormatted}
            </div>
            <div id="subject-#{idFormatted}" class="truncating-text" name="subject">
            	#{-titleFormatted}
            </div>
        </div>
    </div>
</div>
