<div id="tasks-groups" class="palm-dark tasks-groups-scene">
	
    <div class="tasks-groups-backdrop"></div>

	<div class="groups-fade-top" x-mojo-scroll-fade="top"></div>
	<div class="groups-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
	<div class="groups-border-top"></div>
	<img src="images/elastic.png" class="elastic" />

    <div id="alltasks" class="palm-list all-tasks">
        <div id="groupListAll" class="" x-mojo-element="List"/>
	</div>
	
	<img src="images/groups-list-separator-thick.png" style="position:relative; top:-17px" />
	<div id="groupList" class="" x-mojo-element="FilterList" style="position:relative; top:-22px"/>
</div>
