<div id="palm-dialog-content" class="palm-dialog-content">
    <div id="title" class="dialog-title">
    </div>
    <div class="palm-dialog-separator">
    </div>
    <div id='datepicker' x-mojo-element="DatePicker">
    </div>
</div>
<div class="palm-dialog-buttons">
	<div id='select' class="palm-button" x-mojo-tap-highlight="immediate">
		Définir date d’échéance
	</div>
	<div id='none' class="palm-button" x-mojo-tap-highlight="immediate">
		Aucune date d'échéance
	</div>
	<div id='cancel' class="palm-button" x-mojo-tap-highlight="immediate">
		Annuler
	</div>
</div>
